#html-edit__popup {
  width: 230px;
  padding: 8px;
  z-index: 9999;
  display: none;
  position: absolute;
  box-sizing: content-box;
  background-color: #cce8cf;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);
}

#html-edit__popup * {
  font-family: PingFang SC, Hiragino Sans GB, Arial, Microsoft YaHei, Verdana,
    Roboto, Noto, Helvetica Neue, sans-serif;
  user-select: none;
  box-sizing: border-box;
}

#html-edit__popup input:focus {
  outline: none;
}

#html-edit__popup .style-item {
  margin: 7px 0;
}

#html-edit__popup .style-item * {
  line-height: 33px;
}

#html-edit__popup .style-name {
  width: 100px;
  height: 28px;
  font-size: 16px;
  font-weight: 600;
  display: inline-block;
  user-select: none;
}

#html-edit__popup .style-value {
  width: 100px;
  height: 28px;
  font-size: 16px;
}

#html-edit__popup .add-style {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  background: #f56c6c;
  width: 20px;
  height: 20px;
  line-height: 17px;
  border-radius: 50%;
  color: #fff;
}
